.button6 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: #af4c82;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button6:hover {background-color: #3e8e41}
 
.button6:active {
    background-color: #3e8e41;
    box-shadow:  20px 5px #666;
    transform: translateY(4px);
}
p:before {
    content: "Note";
    color: green
}

